<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <!-- Phone from client.js -->
                <a href="tel:{{ client.phoneForTel }}" class="cs-top-link">
                    <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/phone-grey.svg" alt="phone icon" width="16" height="16" aria-hidden="true" decoding="async">
                    Call us: {{ client.phoneFormatted }}
                </a>
                <a href="" class="cs-top-link">
                    <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/clock-grey.svg" alt="clock icon" width="20" height="20" aria-hidden="true" decoding="async">
                    Opening hours: Mon - Sat: 8:00am To 9:00pm
                </a>
            </div>
            <div class="cs-top-social">
                <!-- Facebook from client.js -->
                <a href="{{ client.socials.facebook }}" class="cs-social-link" aria-label="Facebook" target="_blank" rel="noopener">
                    <img class="cs-social-icon" src="/assets/svgs/facebook.svg" alt="facebook" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <!-- Instagram from client.js -->
                <a href="{{ client.socials.instagram }}" class="cs-social-link" aria-label="Instagram" target="_blank" rel="noopener">
                    <img class="cs-social-icon" src="/assets/svgs/instagram.svg" alt="instagram" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!--Nav Logo - Dynamic Alt text-->
        <a href="/" class="cs-logo">
            <img class="cs-logo-light" src="/assets/svgs/domestic-bliss-logo-light.svg" alt="logo" width="197" height="43">
            <img class="cs-logo-dark" src="/assets/svgs/domestic-bliss-logo-dark.svg" alt="logo" width="197" height="43">
        </a>
        
        <nav class="cs-nav" aria-label="main navigation">
            <button class="cs-toggle" aria-label="mobile menu toggle" aria-expanded="false" aria-controls="cs-ul-wrapper" aria-haspopup="menu">
                <span class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1"></span>
                    <span class="cs-line cs-line2"></span>
                    <span class="cs-line cs-line3"></span>
                </span>
            </button>
            
            <div class="cs-ul-wrapper" id="cs-ul-wrapper">
                <ul class="cs-ul">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}" {% if page.url == '/' %} aria-current="page" {% endif %}>Home</a>
                    </li>
                    <li class="cs-li">
                        <a href="/about/" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">About</a>
                    </li>
                    
                    <li class="cs-li cs-dropdown">
                        <button class="cs-li-link cs-dropdown-toggle {% if page.url in ['/commercial-cleaning/', '/office-cleaning/', '/end-of-tenancy/', '/regular-domestic/'] %} cs-active {% endif %}" aria-haspopup="menu" aria-expanded="false" id="services-dropdown-toggle">
                            Services
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chev-down.svg" alt="dropdown" width="15" height="15" decoding="async" aria-hidden="true">
                        </button>
                        <ul class="cs-drop-ul" aria-labelledby="services-dropdown-toggle">
                            <li class="cs-drop-li"><a href="/commercial-cleaning/" class="cs-li-link cs-drop-link">Commercial Cleaning</a></li>
                            <li class="cs-drop-li"><a href="/office-cleaning/" class="cs-li-link cs-drop-link">Office Cleaning</a></li>
                            <li class="cs-drop-li"><a href="/end-of-tenancy/" class="cs-li-link cs-drop-link">End of Tenancy</a></li>
                            <li class="cs-drop-li"><a href="/regular-domestic/" class="cs-li-link cs-drop-link">Regular Domestic</a></li>
                        </ul>
                    </li>
                    <!-- <li class="cs-li">
                        <a href="/project-one/" class="cs-li-link {% if page.url == '/project-one/' %} cs-active {% endif %}">Our Gallery</a>
                    </li> -->
                    <!-- <li class="cs-li">
                        <a href="/blog/" class="cs-li-link {% if page.url == '/blog/' %} cs-active {% endif %}">Blog</a>
                    </li> -->
                    <li class="cs-li">
                        <a href="/contact/" class="cs-li-link {% if page.url == '/contact/' %} cs-active {% endif %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="cs-button-solid cs-nav-button">Get A Quote</a>
        
        <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" aria-hidden="true"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z" /></svg>
            <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="sun icon" width="15" height="15">
        </button>
    </div>
</header>