// ─────────────────────────────────────────────────────────────────────────────
// CRITICAL PAGE STYLES
// Above-the-fold and high-priority styles for the home page's landing section.
// Put the first section of the home page in here, so it loads immediately.
// The rest of the home page styles in local.css will be deferred and
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-408 {
        padding: var(--sectionPadding);
        /* 224px - 288px */
        padding-top: clamp(12rem, 22vw, 15rem);
        /* 100px - 128px */
        // padding-bottom: clamp(6.25rem, 10vw, 8rem);
        padding-right: 0;

        .cs-container {
            width: 100%;
            /* changes to 100% at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 36px - 100px */
            gap: clamp(2.25rem, 10vw, 6.25rem);
        }

        .cs-content {
            width: 100%;
            max-width: (630/16rem);
            padding: 0 (16/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 20px gap between buttons; prevents scale(1.05) hover from colliding */
            column-gap: (20/16rem);
        }

        .cs-title {
            font-size: clamp(2rem, 4.4vw, 3.5rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            max-width: (700/16rem);
            /* 12px - 24px */
            margin: 0 0 clamp(0.75rem, 1.5vw, 1.5rem);
            color: var(--headerColor);
            position: relative;
        }

        .cs-color {
            color: var(--primary);
            // display: block;
        }

        .cs-text {
            /* 16px - 25px */
            font-size: clamp(1.2rem, 2vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            /* 24px - 40px */
            margin-bottom: clamp(1.5rem, 4.2vw, 3rem);
            color: var(--bodyTextColor);
        }

        // .cs-button-solid {
        //     font-size: (16/16rem);
        //     /* 46px - 56px */
        //     line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     text-decoration: none;
        //     font-weight: 700;
        //     text-align: center;
        //     margin: 0;
        //     margin-right: (24/16rem);
        //     color: #fff;
        //     min-width: (150/16rem);
        //     padding: 0 (24/16rem);
        //     background-color: var(--primary);
        //     border-radius: (4/16rem);
        //     display: inline-block;
        //     position: relative;
        //     z-index: 1;
        //     /* prevents padding from adding to the width */
        //     box-sizing: border-box;

        //     &:before {
        //         content: "";
        //         position: absolute;
        //         height: 100%;
        //         width: 0%;
        //         background: #000;
        //         opacity: 1;
        //         top: 0;
        //         left: 0;
        //         z-index: -1;
        //         border-radius: (4/16rem);
        //         transition: width 0.3s;
        //     }

        //     &:hover {
        //         &:before {
        //             width: 100%;
        //         }
        //     }
        // }

        // .cs-button-transparent {
        //     font-size: (16/16rem);
        //     /* 46px - 56px */
        //     line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     text-decoration: none;
        //     font-weight: 700;
        //     text-align: center;
        //     margin: 0;
        //     color: var(--primary);
        //     min-width: (150/16rem);
        //     padding: 0 (24/16rem);
        //     background-color: transparent;
        //     border-radius: (4/16rem);
        //     display: inline-block;
        //     position: relative;
        //     z-index: 1;
        //     /* prevents padding from adding to the width */
        //     box-sizing: border-box;
        //     transition:
        //         background-color 0.3s,
        //         color 0.3s;

        //     &:hover {
        //         background-color: var(--primary);
        //         color: #fff;
        //     }
        // }

        .cs-header {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            /* 40px - 100px */
            margin: clamp(2.5rem, 5vw, 6.25rem) 0 (12/16rem) 0;
            width: 100%;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-logo-group {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-logo {
            width: auto;
            /* 18px - 32px */
            height: clamp(1.125rem, 1.5vw, 2rem);
            filter: grayscale(1);
        }

        .cs-stat-group {
            width: 100%;
            border-radius: (20/16rem) 0 0 (20/16rem);
            aspect-ratio: 330/356;
            /* clips the corners around the border radius */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: nowrap;
            position: relative;
            z-index: 1;
        }

        .cs-stat-box {
            width: 50%;
            /* changes at tablet */
            height: (146/16rem);
            /* 24px - 48px */
            padding: clamp(1.5rem, 3vw, 3rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-of-type(1) {
                background-color: rgba(12, 59, 143, 0.9); 
            }
            
            /* Slightly lighter, but still deep Navy (Right Box) */
            &:nth-of-type(2) {
                background-color: rgba(37, 72, 164, 0.85); 
            }

        }

        .cs-stat {
            /* 25px - 61px */
            font-size: clamp(1.5625rem, 3.5vw, 3.8125rem);
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            display: block;
        }

        .cs-desc {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.2em;
            margin: (4/16rem) 0 0 0;
            display: block;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            #hero-408 .cs-stat, 
#hero-408 .cs-desc {
    color: #fff;
}
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-408 {
        padding-right: 0;
        .cs-container {
            max-width: 100%;
            flex-direction: row;
            justify-content: flex-end;
        }
        .cs-content {
            justify-content: flex-start;
        }
        .cs-title {
            text-align: left;
        }
        .cs-text {
            text-align: left;
        }

        .cs-stat-group {
            width: 45%;
            max-height: (737/16rem);
            aspect-ratio: 315/340;
            flex: none;
        }

        .cs-stat-box {
            /* 126px - 221px */
            height: clamp(7.875rem, 18vw, 13.8125rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-408 {
            .cs-title,
            .cs-text,
            .cs-header,
            .cs-button-transparent {
                color: var(--bodyTextColorWhite);
            }

            .cs-logo {
                filter: grayscale(1) brightness(400%);
            }
        }
    }
}

                                

/*-- -------------------------- -->
<---          Services  448         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-448 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes at 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            /* 24px - 60px */
            row-gap: clamp(1.5rem, 5vw, 3.75rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (360/16rem);
            /* changes at desktop */
            padding-top: (144/16rem);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                        opacity: 0.4;
                    }
                }

                .cs-flex {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* changes at desktop */
            height: (250/16rem);
            border-radius: (8/16rem);
            background-color: var(--primary);
            /* clips the corners of the image */
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
                /* positions top of image to the top of the container */
                object-position: top;
                transition:
                    transform 0.9s,
                    opacity 0.5s;
            }
        }

        .cs-flex {
            text-align: center;
            width: 88%;
            padding: 0 (24/16rem) (24/16rem) (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: (12/16rem);
            background-color: #fff;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &:before {
                /* hover border box */
                content: "";
                background: transparent;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                border: 4px solid var(--primary);
                border-radius: (12/16rem);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                transition: opacity 0.5s;
            }
        }

        .cs-wrapper {
            /* 80px - 120px */
            width: clamp(5rem, 9.2vw, 7.5rem);
            height: clamp(5rem, 9.2vw, 7.5rem);
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-flex by half its height, so we use the same clamp for height and half it for the margin top value */
            margin-top: ~"calc(clamp(5rem, 9.2vw, 7.5rem)*-.5)";
            border-radius: 50%;
            border: 4px solid var(--primary);
            background-color: #fff;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-icon {
            /* 48px - 64px */
            width: clamp(3rem, 4.3vw, 4rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: 1rem;
            line-height: 1.5em;
            font-weight: 400;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            /* 16px - 20px */
            z-index: 10;
            position: relative;
            display: inline-block;
            margin: 0;
            text-decoration: none;
            text-transform: uppercase;
            font-family: var(--headerFont);
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            color: var(--primary);

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* animated underline */
                content: "";
                width: 0%;
                height: 3px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-448 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
        }

        .cs-item {
            width: 47%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-448 {
        .cs-card-group {
            flex-wrap: nowrap;
        }
        .cs-item {
            width: 100%;
            /* 144px - 274px */
            padding-top: clamp(9rem, 17.5vw, 17.125rem);
        }

        .cs-picture {
            /* 224px - 428px */
            height: clamp(14rem, 28vw, 26.75rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-448 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-flex,
            .cs-wrapper {
                background-color: var(--medium);
            }

            .cs-icon {
                filter: grayscale(1) brightness(2000%);
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondary);
            }
        }
    }
}


/*-- -------------------------- -->
<---          Services 368         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-368 {
        padding: var(--sectionPadding);

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-4px);
            }
            70% {
                transform: translateY(4px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes InAndOut {
            0% {
                transform: translateY(3.75rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(1.875rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(0.625rem) scale(0.5);
                opacity: 0.2;
            }
            100% {
                transform: translateY(0) scale(0.2);
                opacity: 0;
            }
        }

        @keyframes InAndOut2 {
            0% {
                transform: translateY(4.375rem) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(2.5rem) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(1.25rem) scale(0.6);
                opacity: 1;
            }
            100% {
                transform: translateY(0) scale(0.4);
                opacity: 0;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3.5vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            border-radius: (16/16rem);
            border: 1px solid #e8e8e8;
            box-sizing: border-box;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-icon-wrapper,
                .cs-bubble {
                    &:before,
                    &:after {
                        background-color: #449ffc;
                    }
                }

                .cs-icon {
                    /* makes it white on hover */
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-h3 {
                    color: #fff;
                }

                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-icon-wrapper {
            width: (98/16rem);
            height: (120/16rem);
            margin-bottom: (24/16rem);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            &:before {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: (3/16rem);
                animation-name: InAndOut;
                animation-duration: 1.6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Small Bubble */
                content: "";
                width: (27/16rem);
                height: (27/16rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: (11/16rem);
                right: (5/16rem);
                animation-name: InAndOut2;
                animation-duration: 2s;
                animation-delay: 0.3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-bubble {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:before {
                /* Big Bubble */
                content: "";
                width: (63/16rem);
                height: (63/16rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (4/16rem);
                left: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 12s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Big Bubble */
                content: "";
                width: (50/16rem);
                height: (50/16rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-4/16rem);
                right: (0/16rem);
                animation-name: floatAnimation2;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-icon {
            width: (72/16rem);
            height: auto;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        // .cs-button-solid {
        //     font-size: (16/16rem);
        //     /* 46px - 56px */
        //     line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     text-decoration: none;
        //     font-weight: 700;
        //     text-align: center;
        //     margin: 0;
        //     color: #fff;
        //     min-width: (150/16rem);
        //     padding: 0 (24/16rem);
        //     background-color: var(--primary);
        //     border-radius: (4/16rem);
        //     display: inline-block;
        //     position: relative;
        //     z-index: 1;
        //     /* prevents padding from adding to the width */
        //     box-sizing: border-box;

        //     &:before {
        //         content: "";
        //         position: absolute;
        //         height: 100%;
        //         width: 0%;
        //         background: #000;
        //         opacity: 1;
        //         top: 0;
        //         left: 0;
        //         z-index: -1;
        //         border-radius: (4/16rem);
        //         transition: width 0.3s;
        //     }

        //     &:hover {
        //         &:before {
        //             width: 100%;
        //         }
        //     }
        // }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-368 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
        }

        .cs-item {
            /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of cards, they don't stay centered, they align with their grid lines. This way its more FLEX-ible*/
            width: clamp(31.85%, 30.5vw, 32.28%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-368 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon-wrapper,
            .cs-bubble {
                &:before,
                &:after {
                    background-color: var(--accent);
                }
            }

            .cs-icon {
                /* turns the icon white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}
                                